@charset "UTF-8";

body {
    margin: 0 20px;
    font-size: 18px;
    font-family: monospace;
}
.introduction {
    margin-bottom: 30px;
}
.is-toggleBtn {
    width: 100%;
    display: inline;
    margin-left: 10px;
    padding: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: pointer;
}
.is-toggleBtn:hover {
    color: #fff;
    background-color: #f55;
}

.add-style-flex {
    display: flex;
}
.flex-items01 {
    /* width: calc(100%/6); */
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}